{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class=" container grid grid-cols-3 grid-rows-6 gap-2">
    <div class="row-span-1 bg-gray-200 p-5 rounded-lg text-center text-lg ">Add Expense</div>
    <!-- Today -->
    <div class="row-span-3 bg-red-200 p-5 rounded-lg flex justify-center relative">
        <p class="absolute left-0 top-0 pt-2 pb-2 pl-6 pr-6 rounded-tl-lg rounded-br-lg bg-indigo-500">Today</p>
        <div class="m-auto">
            <p class="text-center font-bold text-6xl">{{expenses_today}}<span class="text-lg">лв.</span></p>
            <p class="text-center">{{ today_date|date:"l j/n/Y" }}</p>
        </div>
    </div>
    <!-- Last Month -->
    <div class="row-span-3 bg-red-200 p-5 rounded-lg flex justify-center relative">
        <p class="absolute left-0 top-0 pt-2 pb-2 pl-6 pr-6 rounded-tl-lg rounded-br-lg bg-indigo-500">Last Month</p>
        <div class="m-auto">
            <p class="text-center font-bold text-6xl">{{expenses_today}}<span class="text-lg">лв.</span></p>
            <p class="text-center">15th {{ today_date|date:"F" }} - 15th {{ next_month|date:"F"  }}</p>
        </div>
    </div>
    <!-- Add Exprense Form -->
    <div class="row-span-5 bg-gray-200 p-5 rounded-lg border-black">
        <form action="" method="">
            <div class="m-4">
                <lable>Reason</lable>
                <input class="p-4 w-full rounded-lg">
            </div>
            <div class="m-4">
                <lable>Amount</lable>
                <input class="p-4 w-full rounded-lg">
            </div>
            <div class="m-4">
                <lable>Date</lable>
                <input class="p-4 w-full rounded-lg">
            </div>
            <div class="m-4  flex justify-center">
                <button class="w-full p-4 rounded-lg bg-green-300 font-bold" type="submit">
                    Send
                </button>
            </div>
        </form>
    </div>
    <!-- Last 3 Months -->
    <div class="row-span-3 bg-red-200 p-5 rounded-lg flex justify-center relative">
        <p class="absolute left-0 top-0 pt-2 pb-2 pl-6 pr-6 rounded-tl-lg rounded-br-lg bg-indigo-500">Last 3 Months</p>
        <div class="m-auto">
            <p class="text-center font-bold text-6xl">{{expenses_today}}<span class="text-lg">лв.</span></p>
            <p class="text-center">15th July - 15th October</p>
        </div>
    </div>
    <!-- All time -->
    <div class="row-span-3 bg-red-200 p-5 rounded-lg flex justify-center relative">
        <p class="absolute left-0 top-0 pt-2 pb-2 pl-6 pr-6 rounded-tl-lg rounded-br-lg bg-indigo-500">All Time</p>
        <div class="m-auto">
            <p class="text-center font-bold text-6xl">{{expenses_today}}<span class="text-lg">лв.</span></p>
            <p class="text-center">Total</p>
            
        </div>
    </div>
</div>

<div class="container w-full bg-gray-500 p-4 mt-10 rounded-lg flex justify-end">
    <div class="w-full flex justify-between">
        <h3 class="p-1 text-3xl">Filters</h3>
        <div>
            <button class="rounded-lg p-2 bg-yellow-300 m-1">Last week</button>
            <button class="rounded-lg p-2 bg-yellow-300 m-1">Days &#8595; &#8593;</button>
            <button class="rounded-lg p-2 bg-yellow-300 m-1">Amount &#8595; &#8593;</button>
        </div>
    </div>

</div>

<div class="container mt-10">
    <div class="bg-gray-400 p-5 mt-2 mb-2 rounded-lg w-full grid grid-cols-3">
        <p class="font-bold">Reason</p>
        <p class="text-center font-bold">Amount</p>
        <p class="text-center font-bold">Date</p>
    </div>
    {% for article in articles %}
    <div class="bg-gray-200 p-5 mt-2 mb-2 rounded-lg w-full grid grid-cols-3">
        <p>{{ article.reason }}</p>
        <p class="text-center">{{ article.amount }} лв.</p>
        <p class="text-center">{{ article.date|date:"l j/n/Y" }}</p>
    </div>

    {% endfor %}
</div>
{% endblock %}